<div class="w-100 my-md-3 py-md-3">

  <h3 class="lead text-muted my-md-3">List of Skills</h3>

  <%= link_to "Add New Skill", new_admin_skill_path, class: 'btn btn-dark my-md-3' %>

  <% if @skills.count > 0 %>

    <div class="row p-md-1 border-bottom">
      <div class="col h6">
        Name
      </div>
    </div>

    <% @skills.each do |skill| %>

      <div class="row p-md-1 border-bottom">
        <div class="col">
          <%= skill.name %>
        </div>
        <div class="col text-right">
          <%= link_to "Make Changes", edit_admin_skill_path(skill), class: 'btn btn-outline-secondary btn-sm' %>
        </div>
      </div>

    <% end %>

  <% else %>

    <div class="row">
      <div class="col em">
        <p><em>There are no skills added yet.</em></p>
      </div>
    </div>

  <% end %>
  
</div>