<div class="d-md-flex w-100 my-md-3 pl-md-3">

  <div class="w-25 mr-md-3">
    <img class="img-fluid shadow-sm" style="border-radius: 21px" src="http://checodesigns.com/resume/images/profile.png">
  </div>

  <div class="w-75 mr-md-3 px-5 px-md-5">
    <h1 class="display-2">Kelvin Checo</h1>
    <h1 class="display-4 text-muted">A fullstack engineer</h1>
    <p class="lead text-muted">New York, NY</p>
    <div class="cta my-md-3">
      <a class="bg-primary btn-lg btn shadow text-white px-md-4 py-md-2" style="border-radius: 30px;background: linear-gradient(to left, #0072ff, #00c6ff);" href="#">Contact Me</a>
    </div>
  </div>

</div>

<div class="w-100 border-bottom"></div>

<div class="d-md-flex w-100 my-md-3 py-md-3">

  <div class="w-100">
    <h3 class="lead text-muted">About me</h3>
    <p class="lead" style="word-spacing: 4px;">
      Throughout years of utilizing the most popular medium and always being connected with the art industry and latest design trends, I have found excitement in Web Design & Development. I started to learn front end development at the time when social media was at its infancy and people were able to modify their profile by inserting chunks of CSS into a comment field while editing their profile. While my strengths are mostly in back-end development, design - specifically UI/UX design - piques my interest. Some of the soft skills that come natural to me and has helped me in creating solutions for my clients and colleagues are being an active listener, being attentive to detail, and I am really good problem-solver.
    </p>
  </div>

</div>

<div class="w-100 border-bottom"></div>
