<h1>List of Projects</h1>

<%= link_to "Add New Project", new_project_path %>

<% @projects.each do |project| %>

  <div>
    <%= project.name %>
    <%= link_to "Make Changes", edit_project_path(project) %>
    <%= link_to "Remove", project_path(project), method: :delete, data: { confirm: 'Are you sure you no longer want to share this project?' } %>
  </div>

<% end %>
