<h1>List of books I've read</h1>

<%= link_to "Add New Book", new_book_path %>

<% @books.each do |book| %>

  <div>
    <%= book.title %>
    <%= link_to "Make Changes", edit_book_path(book) %>
    <%= link_to "Remove", book_path(book), method: :delete, data: { confirm: 'I hope you don\'t get rid of books like the way you handle this books list. Are you sure you want to remove this books?' } %>
  </div>

<% end %>
