<div class="container">
  <div class="w-100 my-3 py-3">

    <h3 class="my-3">List of books I've read</h3>

    <% if user_signed_in? %>
      
      <%= link_to icon("fas", "plus-circle", "Add New Book"), new_admin_book_path, class: 'btn btn-dark mb-5' %>

    <% end %>

    <% @books.in_groups_of(3).each do |books_for_row| %>

      <div class="row">

        <%= render partial: 'books/book', collection: books_for_row, as: :book %>

      </div>

    <% end %>

  </div>
</div>