<div class="w-100 my-md-3 py-md-3">

  <h3 class="lead text-muted my-md-3">List of Youtube Videos I've watched</h3>

  <% if user_signed_in? %>
  
    <%= link_to icon("fas", "plus-circle", "Add New Video"), new_admin_watched_video_path, class: 'btn btn-dark my-md-3' %>

  <% end %>

  <% @watched_videos.in_groups_of(3).each do |videos_for_row| %>

    <div class="row">

      <%= render partial: 'watched_videos/watched_video', collection: videos_for_row, as: :video %>

    </div>

  <% end %>

</div>
