<div class="container">
  <div class="error-dialog py-5 col-md-8 mx-auto">
    <div class="rounded-corners overflow-hidden mb-2" style="height: 15rem;position: relative;">
      <img src="<%= image_path('Lost-in-Space.jpg') %>" style="position: absolute;top: -30%;z-index: -1; width: 100%;">
    </div>
    <h5 class="text-muted mb-0">404</h5>
    <h1>Page not found.</h1>
    <p class="mb-4">The page you were looking for doesn't exist. Usually this happens when you've mistyped the address or the page that previously existed was removed.</p>
    <a href="/" class="btn btn-outline-dark">Go back</a>
  </div>
</div>