<div class="container">
  <div class="error-dialog error-500 py-5 col-md-8 mx-auto">
    <div class="banner rounded-corners overflow-hidden mb-2">
      <img src="<%= image_path('500-internal-server-error.png') %>">
    </div>
    <h5 class="text-muted mb-0">500</h5>
    <h1>Server Error.</h1>
    <p class="mb-4">There seems to be an issue supplying your request. Try again or reach out to the site admin.</p>
    <a href="/" class="btn btn-outline-dark">Go back</a>
  </div>
</div>