@import "bootstrap";

.rounded-corners {
  border-radius: 21px;
}

.overflow-hidden {
  overflow: hidden;
}

.list-item > a {
  position: relative;
  display: block;
  height: 12rem;
}

.list-item > a > img {
  position: absolute;
  width: 100%;
  top: -20%;
}
.links {
  text-align: center;
}
