@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body, html {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 60px;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.footer-nav .fa, 
.footer-nav .fas, 
.footer-nav .far, 
.footer-nav .fal, 
.footer-nav .fab {
  font-size: 1.25rem !important;
}

.rounded-corners {
  border-radius: 21px;
}

.overflow-hidden {
  overflow: hidden;
}

.error-dialog h1 {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
}

.list-item > div.rounded-corners {
  position: relative;
  height: 12rem;
}

.list-item > div.rounded-corners img {
  position: absolute;
  width: 100%;
}
.links {
  text-align: center;
}

.login-bg {
  display: flex;
  align-items: center;
}
.login-bg.northern-lights {
  background: linear-gradient(200deg, rgb(60, 7, 73), #5f1d84 23.95%, rgb(56, 92, 160) 45.8%, #04b164 72.27%, #acff68 93.7%);
}
.login-bg.default {
  background: linear-gradient(209deg, #0e24b1, rgb(177, 95, 67) 52.1%, #ffd172);
}

.footer-nav .contact-link {
  font-weight: 700;
}

.form-signin {
  max-width: 360px;
}

.new_email_message {
  padding-bottom: 100px;
}

.form-group img {
  max-width: 100%;
}

.error-404 .banner,
.error-500 .banner {
  position: relative;
  height: 15rem;
}
.error-404 img,
.error-500 img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}

@media (min-width: 992px) {
  .error-404 img {
    top: -30%;
  }
  .error-500 img {
    top: -10%;
  } 
}