// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3 {
    font-size: 2rem;
}

.profile {
    /* background-color: #dcf5ff; */
    position: relative;
}

.greetings {
    position: absolute;
    z-index: 1;
    left: 5rem;
}

.greetings h3 {
    font-size: 4rem;
    font-weight: 700;
    color: rgba(255, 166, 66, 0.6);
}

.image_container {
    position: absolute;
    top: 10rem;
    z-index: 1;
    left: -4.5rem;
    width: 50%;
    max-width: 450px;
}

.image_container > img {
    width: 100%;
    border-radius: 50% 75% 65% 80%;
}

.image_backdrop {
    position: absolute;
    background-color: #cfebff;
    top: 1rem;
    height: 40rem;
    left: -5rem;
    border-radius: 50% 80%;
    width: 75%;
    max-width: 678px;
}

.intro {
    position: relative;
    z-index: 2;
}

.intro h1 {
    font-size: 6.25rem;
    font-weight: 700;
}

.cta .btn {
    border-radius: 30px;
    background: linear-gradient(to left, #0072ff, #00c6ff);
}

.about h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
}

.about p.lead {
    line-height: 1.75rem;
}

.skill-item {
    line-height: 1.75rem;
}

@media (min-width: 768px) {
    .greetings {
        left: 15rem;
    }
}

@media (min-width: 992px) {
    .greetings {
        left: 4rem;
    }
}

@media (min-width: 1200px) {
    .greetings {
        left: 15rem;
    }

    .image_container {
        width: 25%;
        min-width: 480px;
        left: 36%;
        margin-left: -480px;
    }

    .image_backdrop {
        width: 33.33333%;
        min-width: 640px;
        top: 1rem;
        left: 50%;
        margin-left: -640px;
    }
}