<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= EmailMessage::REASONS[:"#{@message.reason}"] %> email from kelvin-checo.dev</title>
    <link href="http://fonts.googleapis.com/css?family=Karla:400,700|Montserrat:700" rel="stylesheet" type="text/css">
    <style>
      body {
        background-color: #f6f6f6;
        -webkit-font-smoothing: antialiased;
        font-family: "Karla", "Helvetica", sans-serif;
        font-size: 14px;
        line-height: 1.4;
        margin: 0;
        padding: 0;
      }
      h1 {
        font-family: "Montserrat";
        font-size: 34px;
        font-weight: 700;
      }
      .email-body {
        width: 100%;
      }
      .container {
        display: block;
        margin: 0 auto !important;
        max-width: 600px;
        width: 600px;
        padding: 10px;
      }
      .main {
        background-color: #fff;
        width: 100%;
        padding: 20px;
      }
      .short-seperator {
        width: 20%;
        margin: 10px 0px;
        height: 4px;
        background-color: #000;
      }
      .message-field {
        background-color: #e9ecef;
        font-weight: 700;
        padding: 5px;
      }
      .footer {
        clear: both;
        text-align: center;
        padding: 20px;
        /* background-color: #343a40; */
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
